<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <!-- HTML Design -->
  <!-- Script -->
  <script>
      $(document).ready(function(){
          <% if( !session ) {%>
            window.location.href = '/login';
            return;
          <%}%>
          alert('환영합니다');
      });
  </script>
  </body>
</html>
