<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <!-- HTML Design -->
  <% if( session ) {%>
  <div id="welcome">
      환영합니다.
      <input type="button" id='btn_enter'value="입장"/>
      <input type="button" id='btn_logout' value="로그아웃"/>
  </div>
  <%}%>
  <!-- Script -->
  <script>
      $(document).ready(function(){
          <% if( !session ) {%>
            window.location.href = '/login';
            return;
          <%} else {%>
            $('#btn_logout').click(function(e){
                window.location.href = '/logout';
            })

          $('#btn_enter').click(function(e){
              window.location.href = '/game';
          })
          <%}%>
      });
  </script>
  </body>
</html>
