<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
Login Page
<form id="loginform">
    <input type="text" id="userid" />
    <input type="text" id='userpw' />
    <input type="submit" value="확인"/>
</form>
<script>
    $(document).ready(function(){
        $('#loginform').submit(function(){
            event.preventDefault();
            $.ajax({
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({
                    user_id:$('#loginform #userid').val(),
                    user_pw:$('#loginform #userpw').val()
                }),
                contentType: 'application/json',
                url: '/checklogin',
                success: function(data) {
                     window.location.href = window.document.referrer;
                }
            });

            return true;
        });
    });
</script>
</body>
</html>